// Font faces file

@font-face
  font-display: swap
  font-family: 'ComfortaaRegular'
  src: url('~assets/fonts/ComfortaaRegular/ComfortaaRegular.eot')
  src: url('~assets/fonts/ComfortaaRegular/ComfortaaRegular.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/ComfortaaRegular/ComfortaaRegular.woff') format('woff'),
  url('~assets/fonts/ComfortaaRegular/ComfortaaRegular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-display: swap
  font-family: 'ComfortaaBold'
  src: url('~assets/fonts/ComfortaaBold/ComfortaaBold.eot')
  src: url('~assets/fonts/ComfortaaBold/ComfortaaBold.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/ComfortaaBold/ComfortaaBold.woff') format('woff'),
  url('~assets/fonts/ComfortaaBold/ComfortaaBold.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-display: swap
  font-family: 'HelveticaNeueCyr-Medium'
  src: url('~assets/fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.eot')
  src: url('~assets/fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.woff') format('woff'),
  url('~assets/fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-display: swap
  font-family: 'ProximaNovaRegular'
  src: url('~assets/fonts/ProximaNovaRegular/ProximaNovaRegular.eot')
  src: url('~assets/fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/ProximaNovaRegular/ProximaNovaRegular.woff') format('woff'),
  url('~assets/fonts/ProximaNovaRegular/ProximaNovaRegular.ttf') format('truetype')
  font-weight: normal
  font-style: normal
